@media(max-width: 794px ){
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(30, 38%, 92%);
        width: 100%;
        min-height: 100vh;
    }
    .image_section img{
        width: 100%;
        max-width: 400px;
        border-radius: 20px 20px  0 0;
    }
    .image_one{
        display: none;
    }
    .image_two{
        display: block;
    }
    .container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .text_section{
        max-width: 400px;
        border-radius:0 0 20px 20px  ;
    }
    .text_section h1{
        margin-top: 20px;
        line-height: 36px;
        font-size: 2rem;
    }
    .text_section article{
        margin-top: 10px;
        font-size: 1rem;
        margin-bottom: 15px;
    }
    button{
        width: 100%;
    }
}